@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border-box: box-sizing;
}

.img-container::after {
  position: absolute;
  content: "";
  height: 6rem;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  border-radius: 50px;
  background-color: transparent;
}

.img-container {
  position: relative;
}

.img-container:hover.img-container::after {
  background-color: #344054bf;
}

.camera {
  position: absolute;
  z-index: 999;
  top: 70px;
  left: 35px;
  display: none;
}

.img-container:hover .camera {
  display: block;
}

.shareFull {
  position: relative;
  display: inline-block;
  right: 0;
}

.sharelink {
  /*visibility: hidden;*/
  position: absolute;
  margin: 0;
  width: 77px;
  font-size: 12px;
  background-color: #101828;
  filter: drop-shadow(1px 1px 8px #10182848);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  z-index: 1;
  right: 50px;
  transition: visibility 0.3s;
}

.dotShare {
  display: none;
}

@media (max-width: 768px) {
  .arrowShare {
    display: none;
  }
  .dotShare {
    display: block;
  }
}
